@import "tailwindcss";

@layer base {
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #1a2e22;
    background-color: #fbfbf8;
    overflow-x: hidden;
  }

  h1, h2, h3, .font-serif-luxury {
    font-family: 'Playfair Display', serif;
  }
}

/* Custom smooth scroll and scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f5f2;
}

::-webkit-scrollbar-thumb {
  background: #235d3d;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0f3d23;
}
